/* VARIABLES */

:root {
  --color-on-hover: #ff6565;
  --color-white: #fff;
  --opacity-on-hover: 0.9;
  --max-content-width: 1000px;
  --default-font: "Source Sans Pro";
  --logo-font: "Spin Cycle"
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
  .header {
    /*mobile stuff */
  }
}

 /* HEADER */

.header {
  position: absolute;
  width: var(--max-content-width);
  height: 32px;
  left: 200px;
  top: 28px;
  display: flex;
  justify-content: space-between
}

.header-name {
  font-family: ;
}

body {
  background-image: url("./images/headphones_hero_1.jpg");
  font-family: var(--default-font);
}

/* NAVBAR */

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.nav .nav-item {
  padding: 20px;
  color: var(--color-white);
}

.nav .nav-item:hover {
  color: var(--color-on-hover);
  opacity: var(--opacity-on-hover);
}
